.slds-vertical-tabs, .slds-tabs_scoped__nav {
    border-radius: initial;
}

.slds-vertical-tabs, .slds-tabs_scoped {
    min-height: 100%;
    min-width: 100%;
}

.slds-tabs_scoped {
    display: flex;
    flex-direction: column;
}

.slds-vertical-tabs__nav {
    flex-shrink: 0;
}

.content {
    flex: auto;
}

.label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content,
.slds-vertical-tabs__nav-item.slds-is-active, 
.slds-tabs_scoped__item.slds-is-active {
    background-color: var(--slds-lwc-base-tabs-content-color-background, #fff);
}

.slds-is-active .slds-vertical-tabs__link:hover,
.slds-is-active .slds-tabs_scoped__link,
.slds-is-active .slds-tabs_scoped__link:hover {
    background-color: unset;
}

.slds-tabs_scoped__link, .slds-tabs_scoped__nav { 
    border: unset;
}

div.slds-tabs_scoped, 
div.slds-vertical-tabs, 
ul.slds-tabs_scoped__nav,
ul.slds-vertical-tabs__nav,
li.slds-tabs_scoped__item, 
li.slds-vertical-tabs__nav-item {
    border-color: var(--slds-lwc-base-tabs-nav-color-border, #e5e5e5)
}

.slds-tabs_scoped {
    border: 1px solid;
}

.slds-tabs_scoped__nav {
    align-items: initial;
    margin-bottom: unset;
    border-bottom: 1px solid;
}

.slds-tabs_scoped__item {
    margin-bottom: unset;
    margin-left: unset;
    border-right: 1px solid;
}

.slds-tabs_scoped__item.slds-is-active {
    margin-bottom: -1px;
}

.slds-vertical-tabs__nav, .slds-tabs_scoped__nav {
  background-color: var(--slds-lwc-base-tabs-nav-color-background, #f3f3f3);
}

.slds-vertical-tabs__nav-item, .slds-tabs_scoped__item {
  background-color: var(--slds-lwc-base-tabs-nav-item-color-background, transparent);
}

.slds-vertical-tabs__nav-item:hover, 
.slds-tabs_scoped__item:hover,
.slds-vertical-tabs__link:hover, 
.slds-tabs_scoped__link:hover {
  background-color: var(--slds-lwc-base-tabs-nav-item-color-background-hover, #c9c9c9);
}

.slds-vertical-tabs__link, .slds-tabs_scoped__link {
    font-weight: initial;
    color: var(--slds-lwc-base-tabs-text-color, currentColor);
}

.slds-is-active .slds-vertical-tabs__link:hover, 
.slds-is-active .slds-tabs_scoped__link:hover {
    color: var(--slds-lwc-base-tabs-text-color-hover, #0176d3);
}