:host {
    --slds-lwc-base-tabs-content-color-background: lightgrey;
    
    --slds-lwc-base-tabs-nav-color-background: darkgreen;
    --slds-lwc-base-tabs-nav-color-border:	green;
    --slds-lwc-base-tabs-text-color: white;
    --slds-lwc-base-tabs-nav-item-color-background: grey;
    --slds-lwc-base-tabs-nav-item-color-background-hover: darkgrey;
    --slds-lwc-base-tabs-text-color-hover: grey;
}

base-toast {
    left: 50%;
    transform: translateX(-50%);
}

base-timeline-item:first-of-type {
    --slds-lwc-base-timeline-item-vertical-line-color: lightgreen;
}
